{% extends "network/layout.html" %}

{% block title %}
    Posts
{% endblock %}
{%load static %}

{% block body %}


<script type ="text/javascript" src="{% static 'util.js' %}"></script>
<div id = "profile">
    <div id ="profile-nav">
        <h1>{{username}}</h1>
        <div><span id ="connect"></span></div>
        <p><a href ="#" id = "following_count">{{following_count}}  Following </a><a href ="#" id = "follower_count">{{follower_count}} Followers</a></p>
        <hr>

{% if page_info == "current user" %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <!-- <a class="nav-link" data-toggle="collapse"  role="button" href="#myposts"  aria-expanded="false" aria-controls="myposts">My Posts </a> -->
                    <button  class ="active" data-section="myposts">my Posts </button>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" data-toggle="collapse"  role="button" href="#whotofollow"  aria-expanded="false" aria-controls="whotofollow">Who to Follow?</a> -->
                    <button data-section="networks">networks</button>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#">Likes</a> -->
                    <button data-section="likes">Likes</button>
                </li>
            </ul>
        </nav>
    
    </div>
    <div id ="result">
        {{ update_follow_form.non_field_errors }}
        {{ update_follow_form.errors }}
    </div>




</div>

<script type ="text/javascript" src="{% static 'profile.js' %}"></script>

{% else %}

<section >
    <article class = "other_profile">
        <div class ="message">

        </div>

  
        <div id ="showposts"> 
            {% for post in posts %}
                <hr class="hr_divide_heading">  
                <div id= "post">
                    <h5>{{post.user_id}}</h5>
                    <p>{{post.contents}}</p>
                    <p>{{post.date_and_time}}</p>
                    <p>{{post.num_of_likes}}</p>
                    
                </div>
                {% empty %}
    
                <h5>No posts</h5>
            {% endfor %}
        </div>
    </article>

</section>
<script>
    connect =  "{{connect}}"

    var form = createForm("post",document.location+"/connect");
    var crsf = formCrsf();

    if (connect == "unfollow"){
        var togglebutton = createElement('span',null,null,'<input type= "hidden"  name = "change"  value ="follow" /> <input type= "submit"  name = "btn"  value =  unfollow />')
        }
        else{
        var togglebutton = createElement('span',null,null,'<input type= "hidden"  name = "change"  value ="unfollow" /> <input type= "submit"  name = "btn"  value =  follow />')
        }
    appendChild(parent =form,crsf,togglebutton);
    document.querySelector("#connect").appendChild(form)
    
  
</script>
{% endif %}


{% endblock %}