{% extends "network/layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block body %}
<h6>current user profile</h6>
<div id = "profile">
    <div id ="profile-nav">
        <h1>{{username}}</h1>
        <p><a href ="#" id = "following_count"> {{following_count}} Following</a><a href ="#" id = "follower_count">{{follower_count}}Followers</a> </p>
        <hr>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <!-- <a class="nav-link" data-toggle="collapse"  role="button" href="#myposts"  aria-expanded="false" aria-controls="myposts">My Posts </a> -->
                    <button  class ="active" data-section="myposts">my Posts </button>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" data-toggle="collapse"  role="button" href="#whotofollow"  aria-expanded="false" aria-controls="whotofollow">Who to Follow?</a> -->
                    <button data-section="networks">networks</button>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#">Likes</a> -->
                    <button data-section="likes">Likes</button>
                </li>
            </ul>
        </nav>
    
    </div>
    <div id ="result">

    </div>




</div>
<script>
    username ="{{username}}"

    function toggle(id){
        console.log("func toggle",id,this.username)
        


    }
    function createElement(tag,className,idName,content){
        //console.log("func createElement")
        element = document.createElement(tag);
        if (className){
            element.className =className;
        }
            
        if (idName){
            element.id = idName;
        }
        if (content){
            element.innerHTML = content;
        }
        
        
        //console.log("element",element)
        return element;

    }
    //Show given section
    function showSection(section){
        
       // Find section contents from server
       console.log("JS showsection function")
    //    console.log("PATH:",`${username}/${section}`)
       fetch(`${username}/${section}`)
       //fetch(`/${section}`)
       
       .then(response => response.text())   
       .then(text => {
        /* 
        num : 1 display my posts
            : 2 display networks
            : 3 display all liked posts 
        */

        var result = JSON.parse(text);
        display = createElement('div',null,null,null);
        keys = ["myposts"]
        if (section == "myposts"){
            keys.forEach(key=>{

                myposts = result[key]

                for (i in myposts){
         
                    let post = createElement('div',null,'posts',null);

                    //console.log("p1",post)

                    let contents = createElement('p',null,null,String(myposts[i]["contents"]));

                    // console.log("c",contents)
    
                    let date_and_time = createElement('p',null,null,String(new Date(myposts[i]["date_and_time"])));  
                    
                    //console.log("DT",date_and_time)
                    
                    let num_of_likes = createElement('p',null,null,String(myposts[i]["num_of_likes"]));
                    
                    //console.log("likes",num_of_likes)

                    hr = createElement('hr','hr_divide_heading',null,null);
                    
                    //console.log("hr",hr)

                    post.appendChild(contents);        
                    post.appendChild(date_and_time);   
                    post.appendChild(num_of_likes); 
                    post.appendChild(hr);
                    
                    // console.log(post)
                    display.append (post)
                }
            })
            
        }
        
        
        //work more on network button
        else if (section == "networks"){
            //networks

            const keys = ["user_currently_follows","user_can_follow"]

            keys.forEach (key=>{
                networks= result[key]
                if (networks){
                    for (i = 0; i<networks.length; i++){
                        let whotofollow = createElement('div',null,key,null)

                        let username = createElement('p',null,null,String(networks[i]["username"]))
                        
                        inc = networks[i]["id"]
                        //console.log("key",key)
                        if (key === "user_currently_follows"){
                            var togglebutton = createElement('span',null,null,'<button id="unfollowbutton" onclick="toggle('+ inc +')" /> unfollow')
                        }
                        else{
                            var togglebutton = createElement('span',null,null,'<button id="followbutton" onclick="toggle('+ inc +')" /> follow')
                        }
                
                        let hr = createElement('hr','hr_divide_heading',null,null)

                        whotofollow.appendChild(username);
                        whotofollow.appendChild(togglebutton);
                        whotofollow.appendChild(hr);
                        display.append(whotofollow)
                    }
                }
                

            })
            
                
            
            
             
            
  
        }
        //likes
        else if (section == "likes"){}
       
        else{
           console.log("error");
        }

  

        document.querySelector("#following_count").innerHTML = `${result["following_count"]} Following`
        document.querySelector("#follower_count").innerHTML = `${result["follower_count"]} Follower`    
        
        document.querySelector("#result").innerHTML = display.innerHTML;    
    }
    );
    }   

    window.onload = function(){

        // by default show my posts
        console.log("showing default tab")
        

        showSection("myposts");
        
        
        // console.log("window.location.hash",window.location.hash)
        // console.log("window.location ",window.location )
        // if(!window.location.hash) {
        // window.location = window.location + '#loaded';
        // console.log("reload")
        // window.location.reload();
        // }
    }
    

    document.addEventListener('DOMContentLoaded',function(){

        
        // Add section functionality
        document.querySelectorAll('button').forEach(button =>{
            button.onclick = function(){
                const section = this.dataset.section
                showSection(section);

                var current = document.getElementsByClassName("active");    
                console.log("current",current)
                current[0].className = current[0].className.replace("active", "");
                this.className ="active";

                
 

                console.log("window hash",window.location.hash)
                console.log("window loacation",window.location)
                // if (section != "myposts"){
                //     history.pushState({section: section}, "", `${section}`);
                // }
                // else{
                //     history.pushState({section: section}, "", `{{username}}/`);
                // }

                
            };
        
            
        });
    });

</script>
  
{% endblock %}