{% extends "network/layout.html" %}

{% block title %}
    Posts
{% endblock %}
{%load static %}

{% block body %}

<script type ="text/javascript" src="{% static 'util.js' %}"></script>
<div id ="result">

</div>

    <!-- <form action="{% url 'network:save_post'  %}" method = "POST">
        {% csrf_token %}

        {{edit_post_form}}

        
        <button type="submit"  name = "edit" value="{{postId}}" id ="edit">save post</button>
        
       

    </form> -->
    {% endblock %}
<script>
    let div = createElement('div',null,'form',null);
    loc  = "/network/save"
    let save_post_form = createForm("post",loc)
    var crsf = formCrsf();
    var form = edit_post_form
    var submitEditbtn = createButton("submit","edit",null,"edit",postId,"edit")
    console.log(submitEditbtn)
    appendChild(parent =save_post_form,crsf,form,submitEditbtn);
    appendChild(parent =div,save_post_form);
    document.querySelector('#result').innerHTML = div.innerHTML
</script>
