{% extends "network/layout.html" %}

{% block title %}
    Posts
{% endblock %}
{%load static %}

{% block body %}
<section>
    <article class ="result">
        <div class ="message">

        </div>
        <!-- <div id ="showposts">

            {% for list in following_list %}
            <span>
                <h2>{{list.username}}</h2>

            </span>
            <hr>
            {% endfor %}
        </div> -->
        <div id ="showposts"> 
            {% for post in posts %}
                <hr class="hr_divide_heading">  
                <div id= "post">
                    <h5>{{post.user_id}}</h5>
                    <p>{{post.contents}}</p>
                    <p>{{post.date_and_time}}</p>
                    <p>{{post.num_of_likes}}</p>
                </div>
                {% empty %}
    
                <h5>No posts</h5>
            {% endfor %}
        </div>
    </article>
</section>
{% endblock %}