{% extends "network/layout.html" %}

{% block title %}
    Posts
{% endblock %}
{% load static %}
{% block body %}

<script type ="text/javascript" src="{% static 'util.js' %}"></script>

    <h1> All posts</h1>
    <form action="{% url 'network:newpost' %}" method ="POST">
        {% csrf_token %}    
        <button type = "submit" name ="newpost" id ="newpost">Whats on your mind?</button>
    </form> 
    <div id ="showposts"> 
        {% for post in allposts %}
            <hr class="hr_divide_heading">  

            <div id = eachpost_{{post.id}}>

                <h5 id ="post_userid">{{post.user_id}}</h5>
                <p id ="post_content">{{post.contents}}</p>
                <p d ="post_dateandtime">{{post.date_and_time}}</p>
                <p id ='num_likes_{{post.id}}'>{{post.num_of_likes}}</p>


                {% if post.num_of_likes > 0 and post_liked_ids|length  and post.id in post_liked_ids %}
                
                    <button id ="like" style = "width: 80px;" value ="{{post.id}}" ><i class="fa fa-heart" style = "color:red"></i></button>

                {% else %}
                    <button id ="like" style = "width: 80px;" value ="{{post.id}}" ><i class="fa fa-heart" style = "color:white"></i></button>

                {% endif %}
                {% with post_username=post.user_id %}
                
                
                {% ifequal post_username|lower user.username|lower %}
                    
                <!-- <div id ="editpost_{{post.id}}"> -->
                  
                <button id = "edit" name ="edit"type="submit" value= {{post.id}} onclick = "edit_post('{{ post.id }}','{{ post_username }}')">edit</button>
                    
                <!-- </div> -->
                <div id = "editpost">

                </div>
                
                {%endifequal%}
                {%endwith%}
                
            </div>
            {% empty %}

            <h5>No posts</h5>
        {% endfor %}
    </div>
    
    <script type ="text/javascript" src="{% static 'index.js' %}"></script>

    
        

  
{% endblock %}