{% extends "network/layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block body %}
    <h1> All posts</h1>
    <form action="{% url 'newpost' %}" method ="POST">
        {% csrf_token %}    
        <button type = "submit" name ="newpost" id ="newpost">Whats on your mind?</button>
    </form> 
    <div id ="showposts"> 
        {% for post in allposts %}
            <hr class="hr_divide_heading">  
            <div id= "post">
                <h5>{{post.user_id}}</h5>
                <p>{{post.contents}}</p>
                <p>{{post.date_and_time}}</p>
                <p>{{post.num_of_likes}}</p>
            </div>
            {% empty %}

            <h5>No posts</h5>
        {% endfor %}
    </div>
 

        
        

  
{% endblock %}