{% extends "network/layout.html" %}

{% block title %}
    Profile
{% endblock %}
{%load static %}

{% block body %}


    <!-- This html page shows current and other user profile     
    1. display all the posts with pagination
    2. user can like any post 
    3. user can edit their own post -->

    <script>
       
        const initialcategory = "{{category}}"
      
    </script>

<script type ="text/javascript" src="{% static 'util.js' %}"></script>
<div id = "profile">
    <div id ="profile-nav">
        <h1>{{username}}</h1>
        



{% if page_info == "current user" %}
        
        <div class ="follow">
                            
            <span ><a href = "{% url 'network:network' request_type='following' %}" id = "following_count" >{{following_count}}  Following</a>  </span> 
            <span ><a href = "{% url 'network:network' request_type='followers' %}" id = "follower_count" >{{follower_count}} Followers</a></span>

        </div>
    </div>
        <hr>
                <!-- profile page of logged in user -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light flex-row d-flex bd-highlight mb-3" id ="mini-nav">
            <ul class="navbar-nav">
                <li class="nav-item ">
 
                    <button  id ="button" class ="nav-link active" data-section="myposts">My Posts </button>
                </li>
                <li class="nav-item">

                    <button  id ="button" class ="nav-link" data-section="networks">My Networks</button>
                </li>
                <li class="nav-item">
                    
                    <button  id ="button" class ="nav-link" data-section="likes">My Likes</button>
                </li>
            </ul>
        </nav>
    
    </div>
    <section>
        <article id ="result">
            
        </article>
    </section>





<script type ="text/javascript" src="{% static 'functions.js' %}"></script>
<script type ="text/javascript" src="{% static 'profile.js' %}"></script>

<script type ="text/javascript" src="{% static 'index.js' %}"></script>


{% else %}
        <div class ="follow">
            <div><span id ="connect"></span></div>
            <span ><a id = "following_count" >{{following_count}}  Following</a>  </span> 
            <span ><a id = "follower_count" >{{follower_count}} Followers</a></span>
        
        </div>
    </div>
    <hr>
    <!-- profile page of other user -->
    <section >
        <article class = "other_profile">
            <div class ="message">

            </div>

            
            <div id ="showposts flex-container"> 
                {% for post in posts %}

                   
                    <div class = "card" id= "post">
                        <span>
                            <h2 id ="post_userid" class="card-title">{{post.user_id}}</h2>
                            <h3 id ="post_content">{{post.contents}}</h3>
                            <h4 id ="post_dateandtime">{{post.date_and_time}}</h4>
                            <h4 class='like'>{{post.num_of_likes}}</h4>
                            {% if post.num_of_likes > 0 and post_liked_ids|length  and post.id in post_liked_ids %}
                        

                                <a id ="like" href = "" data-section = "{{post.id}}"><i class="fa fa-heart" style = "color:#f7786b"></i></a>

                            {% else %}
                                <a id ="like" href = "" data-section = "{{post.id}}"><i class="fa fa-heart" style = "color:#b0aac0"></i></a>
                            
                            {% endif %}
                        </span>
                    </div>
                    {% empty %}
        
                    <h5>No posts</h5>
                {% endfor %}
            </div>
        </article>

    </section>
    <script>
        // follow or unfollow option while displaying other user profile

        connect =  "{{connect}}"
        user_id = "{{other_user_id}}"
        
        loc ="{% url 'network:connect' user=username  %}"
        var form = createForm("post",loc)
        var crsf = formCrsf();
    
        if (connect == "following"){
            var togglebutton = createElement('span',null,null,'<input type= "hidden" class="btn btn-primary" name = "change"  value ='+user_id+' /> <input type= "submit"  class="btn btn-primary" name = "btn"  value =  following />')
            }
            else{
            var togglebutton = createElement('span',null,null,'<input type= "hidden"  class="btn btn-primary" name = "change"  value ='+user_id+' /> <input type= "submit"  class="btn btn-primary" name = "btn"  value =  follow />')
            }
            
        appendChild(parent =form,crsf,togglebutton);
        document.querySelector("#connect").appendChild(form)
        
    
    </script>
{% endif %}


{% endblock %}