{% extends "network/layout.html" %}

{% block body %}



<div class = "card" id = "signIn">
    <fieldset>
        <legend class="card-body"> 
            <h2 class="card-title">
                <div>

                        Already have an account? 

                    <span>
                        <a href="{% url 'network:login' %}" class = "btn-link" id="createaccount">Log In here.</a> 
                    </span>
                </div>
            </h2>
        </legend>
    </fieldset>

    <fieldset class="card-body">
        <legend >
            <h2 class="card-title">Sign In </h2>
        
            <form action="{% url 'network:register' %}" method="post" class = "card-body">
                {% csrf_token %} 
                {% if message %}
                    <p class="notfound">{{ message }}</p>
                {% endif %}
                <div class = "form-group ">
                    <!-- username -->
                    <fieldset>
                        <legend><h3>Enter your username</h3>
                            
                            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                        </legend>
                    </fieldset>
                </div>
                <div class="form-group"> 
                    <!-- email address -->
                    <fieldset>

                        <legend><h3>Enter your email address</h3>
                            <input class="form-control" type="email" name="email" placeholder="Email Address">
                        </legend>
                    </fieldset>
                </div>
                <div class="form-group">          
                    <fieldset>
                        <!-- password -->
                        <legend><h3>Enter your password</h3>
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </legend>
                    </fieldset>
                </div>
                <div class="form-group">          
                    <fieldset>
                        <!-- confirm password -->
                        <legend><h3>confirm password</h3>
                            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                        </legend>
                    </fieldset>
                </div>
            
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Login">
                
                </div>

            </form>
        </legend> 
    </fieldset>
</div>
{% endblock %}